.ctc {
    display: flex;
    align-items: center;
    margin-left: 2px;
    flex-direction: column;
}

.main {
    display: flex;
    align-items: center;
}

.txtArea {
    margin-top: 2px;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    min-width: 350px;
    max-width: 350px;
    padding: 2%;
}

.email {
    margin-left: 2px;
    min-width: 350px;
    padding: 2%;
}

.name {
    margin-top: 0px;
    margin-left: 2px;
    min-width: 350px;
    padding: 2%;
}

.notify {
    color: white;
    margin-top: 3%;
    font-size: 16px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 475px;
    height: 60px;
    border-radius: 15px;
    background-color: #dc3545;
    color: white;
}

button {
    max-height: 50px;
    min-width: 90px;
}