* {}

#cardCity {
    font-size: x-large;
}

.card {
    margin-top: 50px;
    border-radius: 10%;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 1px 1px 15px;
    text-align: center;
    font-weight: 600;
}

.citySelector {
    min-width: 200px;
    max-height: 50px;
    border-width: 2px;
    border-color: black;
    font-weight: 600;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
}